/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general rule */
body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 0 0 30px 0px;
}

section{
  padding: 20px 0;
}

li{
  list-style: none;
  margin-bottom: 10px;
}



li h3{
  margin-bottom: 10px;
}

/* header rule */
.top span{
  font-size: 38px;
  font-weight: 700;
  vertical-align: middle;
}
.top img{
  vertical-align: middle;
  margin: 10px;
}

.top{
  background-color: white;
  height: 70px;
  width: 100%;
}


/* first bar in main */
.button-bar{
  margin-top: 70px;
  width: 100%;
  padding: 10px 40px;
  border-bottom: 5px solid #f6f8f9;
}

.button{
  background-color: #47adf1;
  display: inline-block;
  height: 40px;
  width: 100px;
  vertical-align: middle;
  border-radius: 5px;
}

.button p{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.button.disabled{
  background-color: white;
  border: 2px solid #c5cbd0;
}

.button.disabled p{
  color: #c5cbd0;
}

/* sezione principale, corpo */

/* generale */
.round-check,
.category{
  display: inline-block;
}

.task, .menu{
  margin: 10px 40px;
}

/* regole per selettore a tendina */

.menu span{
  font-weight: bold;
  font-size: 20px;
}

.category{
  display: inline-block;
  background-color: red;
  padding: 5px;
  border-radius: 12px;
  color: white;
  font-size: 10px;
}

li h3::before{
  content: '\25BE';
}

/* check e ballot rule */
.round-check{
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #83cfbf;
  border: 1px solid #83cfbf;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}

.round-check::after{
  content: '\2713';
}

.round-check.ballot{
  color: #ea4237;
  border: 1px solid #ea4237;
}

.round-check.ballot::after{
  content: '\2715';
}

/* regola generale per tasks
span .task{
  font-size: 14px;
} */

/* regole per tutti i vari tasks */
.category.editorial{
  background-color: #45abea;
}

.category.q1-goals{
  background-color: #9c72e4;
}

.category.recruiting{
  background-color: #64c0a9;
}

.category.mobile{
  background-color: #f29e33;
}

.category.website{
  background-color: #d863a1;
}

.category.sales{
  background-color: #b0c926;
}