/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

.top span{
  font-size: 30px;
  font-weight: bold;
}
.top img{
  vertical-align: middle;
  margin: 10px;
}